---
import {Image} from 'astro:assets';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const endOfDay = new Date();
endOfDay.setHours(23, 59, 59, 999);

const posts = (await getCollection('blog'))
.filter((post) => import.meta.env.DEV || (post.data.pubDate && post.data.pubDate <= endOfDay))
.map((post) => {
	if(!post.data.pubDate) {
		const {data, ...rest} = post;
		const {pubDate, ...restData} = data;
		const newData = {...restData, pubDate: new Date()};
		return {data: newData, ...rest};
	}
	return {...post};
})
.sort(
	(a, b) => b.data.pubDate!.valueOf() - a.data.pubDate!.valueOf()
);

---

<BaseLayout>
	<section class="content-grid">
		<ul class="full-width">
			{
				posts.map((post) => (
					<li>
						<a href={`/blog/${post.slug}/`}>
							{post.data.heroImage && <Image width={720} height={360} src={post.data.heroImage} alt="" class:list={["image"]} />}
							<h2 class="title">{post.data.title}</h2>
							<p class="date"><FormattedDate date={post.data.pubDate!} /></p>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</BaseLayout>

<style>
	ul, li {
		padding: 0;
	}

	a {
		padding: 0;
		margin: 0;
	}

	ul {
		margin-top: var(--size-5);
		display: grid;
		grid-template-columns: subgrid;
		row-gap: var(--size-7);
	}

	li {
		display: grid;
		grid-template-columns: subgrid;		
	}

	.image {
		max-block-size: var(--size-13);
		object-fit: cover;
		width: 100%;
	}

	h2.title {
		font-size: var(--font-size-fluid-2);
		margin-block: var(--size-2) 0;		
		/* max-inline-size: var(--size-header-1); */
	}

	p.date {
		font-size: var(--font-size-fluid-0);
		color: var(--text-2);
	}

	{/* 
	main {
		width: 960px;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul li {
		width: calc(50% - 1rem);
	}
	ul li * {
		text-decoration: none;
		transition: 0.2s ease;
	}
	ul li:first-child {
		width: 100%;
		margin-bottom: 1rem;
		text-align: center;
	}
	ul li:first-child img {
		width: 100%;
	}
	ul li:first-child .title {
		font-size: 2.369rem;
	}
	ul li img {
		margin-bottom: 0.5rem;
		border-radius: 12px;
	}
	ul li a {
		display: block;
	}
	.title {
		margin: 0;
		color: rgb(var(--black));
		line-height: 1;
	}
	.date {
		margin: 0;
		color: rgb(var(--gray));
	}
	ul li a:hover h4,
	ul li a:hover .date {
		color: rgb(var(--accent));
	}
	ul a:hover img {
		box-shadow: var(--box-shadow);
	}
	@media (max-width: 720px) {
		ul {
			gap: 0.5em;
		}
		ul li {
			width: 100%;
			text-align: center;
		}
		ul li:first-child {
			margin-bottom: 0;
		}
		ul li:first-child .title {
			font-size: 1.563em;
		}
	}
	*/}
</style>