/* https://www.youtube.com/watch?v=c13gpBrnGEw */
/* https://www.youtube.com/watch?v=cf-J4ffMBfo */

.content-grid {
    --padding-inline: var(--size-3);
    --content-max-width: var(--size-content-3);
    --breakout-max-width: var(--size-md);

    --breakout-size: calc(0.5 * (var(--breakout-max-width) - var(--content-max-width)));

    display: grid;

    grid-template-columns: 
        [full-width-start full-width-to-content-start full-width-to-breakout-start] minmax(var(--padding-inline), 1fr)
        [breakout-start breakout-to-content-start breakout-to-full-width-start] minmax(0, var(--breakout-size))
        [content-start content-to-breakout-start content-to-full-width-start] 
        min(100% - (2 * var(--padding-inline)), var(--content-max-width))   
        [content-end full-width-to-content-end breakout-to-content-end]
        minmax(0, var(--breakout-size)) [breakout-end full-width-to-breakout-end content-to-breakout-end]
        minmax(var(--padding-inline), 1fr) [full-width-end breakout-to-full-width-end content-to-full-width-end]
    ;
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
    grid-column: content;
}

.content-grid > .breakout {
    grid-column: breakout;
}

.content-grid > .full-width {
    grid-column: full-width;

    display: grid;
    grid-template-columns: inherit;
}

.content-grid > .full-width-to-content {
    grid-column: full-width-to-content;
}

.content-grid > .full-width-to-breakout {
    grid-column: full-width-to-breakout;
}

.content-grid > .breakout-to-content {
    grid-column: breakout-to-content;
}

.content-grid > .breakout-to-full-width {
    grid-column: breakout-to-full-width;
}

.content-grid > .content-to-breakout {
    grid-column: content-to-breakout;
}

.content-grid > .content-to-full-width {
    grid-column: content-to-full-width;
}

.col-span-all {
    grid-column: 1 / -1;
}

img.full-width {
    width: 100%;
    max-height: 45vh;
    object-fit: cover;
}
