@media print {
    @page {
        /* size: A4 portrait; */
        margin: 0 !important;
        padding: 0 !important;
    }

    @-moz-document url-prefix() { /* only for Firefox */  
        @page {
            margin:0 !important;
            padding: 0 !important;
        }
    }

    .page-break-after {
        page-break-after: always;
    }

    body, main {
        margin: 0 !important;
        padding: 0 !important;
    }
}

