/* Core theme variables */
html {
    /* Light */
    --brand-light: var(--blue-10);

    --text-1-light: var(--gray-8);
    --text-2-light: var(--gray-7);

    --surface-1-light: var(--gray-0);
    --surface-2-light: var(--gray-1);
    --surface-3-light: var(--gray-2);
    --surface-4-light: var(--gray-3);


    /* Dark */
    --brand-dark: var(--blue-3);

    --text-1-dark: var(--gray-3);
    --text-2-dark: var(--gray-5);

    --surface-1-dark: var(--gray-12);
    --surface-2-dark: var(--gray-11);
    --surface-3-dark: var(--gray-10);
    --surface-4-dark: var(--gray-9);


    /* Dim */
    --brand-dim: var(--blue-4);

    --text-1-dim: var(--gray-3);
    --text-2-dim: var(--gray-4);

    --surface-1-dim: var(--gray-8);
    --surface-2-dim: var(--gray-7);
    --surface-3-dim: var(--gray-6);
    --surface-4-dim: var(--gray-5);
}

:root {
    --brand: var(--brand-light);

    --text-1: var(--text-1-light);
    --text-2: var(--text-2-light);

    --surface-1: var(--surface-1-light);
    --surface-2: var(--surface-2-light);
    --surface-3: var(--surface-3-light);
    --surface-4: var(--surface-4-light);

    --link: var(--brand);
    --link-visited: var(--brand);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* --brand: var(--brand-dark);

        --text-1: var(--text-1-dark);
        --text-2: var(--text-2-dark);

        --surface-1: var(--surface-1-dark);
        --surface-2: var(--surface-2-dark);
        --surface-3: var(--surface-3-dark);
        --surface-4: var(--surface-4-dark); */

        --brand: var(--brand-dim);

        --text-1: var(--text-1-dim);
        --text-2: var(--text-2-dim);

        --surface-1: var(--surface-1-dim);
        --surface-2: var(--surface-2-dim);
        --surface-3: var(--surface-3-dim);
        --surface-4: var(--surface-4-dim);
    }
}

@media (prefers-contrast: less) {
    :root {
        --brand: var(--brand-dim);

        --text-1: var(--text-1-dim);
        --text-2: var(--text-2-dim);

        --surface-1: var(--surface-1-dim);
        --surface-2: var(--surface-2-dim);
        --surface-3: var(--surface-3-dim);
        --surface-4: var(--surface-4-dim);
    }
}

/* h1,h2,h3,h4,p,dt {
    color: var(--text-1);
}

h5,h6,small,dd {
    color: var(--text-2);
} */

/* a:hover {
    color: var(--link);
    text-decoration-color: var(--link);		
} */

:where(html) {
    color-scheme: light dark;
}

:where(a[href]), :where(a[href]):where(:visited) {
    color: var(--brand, var(--link));
    text-decoration-color: var(--brand, var(--link));
}

h1 {
    justify-self: center;
    color: var(--blue-12);		
}

@media (prefers-color-scheme: dark) {
    h1 {
        color: var(--blue-6);
    }
}