---
import { Picture } from "astro:assets";
import BaseLayout from "@layouts/BaseLayout.astro";
import headshot from "@images/about/sheehan-headshot-hd-nobg.webp";
import teamSpikey from '@images/about/team-spikey.jpg';
---

<BaseLayout>
  <article class="content-grid">
	<div class="header-band full-width">
		<header class="content-grid"> 
			<div class="headshot-wrapper">
				<Picture
					class="headshot"	
					loading="eager"	
								
					src={headshot}
					width={240}
					alt="headshot of Ryan Sheehan, brown hair, blue eyes, looking at camera"
				/>
			</div>     
		  
		  <figure class="quote">
			<blockquote>I'm a technology leader passionate about building high performing teams.</blockquote>
			{/* <figcaption>&mdash; Some Person<cite>Place</cite></figcaption> */}
		  </figure>
		</header>
	</div>
	<section>
		<p>Hi, I'm Ryan, and I am a technologist.</p>
		<p>I find technology so exciting because it's forward-looking; we get to build the future! There is something gratifying about imagining a better world and then delivering on that vision.</p>
		<p>As a long-time software engineer, I've had the privilege of building everything from robots to video games to enterprise desktop software to SaaS cloud applications. Along the way, I have always taken up leadership opportunities. It was natural that my career moved toward management. I find building and leading software teams as exciting as the software we build. Not only do I get to enable users to do new things, but I also get the privilege of helping engineers achieve their goals.</p>
		<p>When I am not working, I enjoy my time with my wife and three children. In addition to learning how to be a dance dad and imparting foregone soccer knowledge, our family volunteers time to work with our <a href="https://www.jdrf.org/northtexasoklahoma/">local  JDRF chapter</a>. At the age of seven, our oldest child was diagnosed with the autoimmune disease Type 1 Diabetes. Since the diagnosis, the whole family has rallied together to take up the fight to end T1D and support the families that share our struggles.</p>
		<Picture class="article-image" src={teamSpikey} alt="Ryan Sheehan and family at the JDRF One Walk" width={420}/>
		<p>Helping others is not only a joy but also critical to building productive communities. If you have questions that you think I may be able to answer, please reach out to me (<a href="mailto:rsheehan@gmail.com">rsheehan@gmail.com</a>). Thanks for visiting my corner of the web.</p>
	</section>
  </article>
</BaseLayout>

<style>	
	article {		
		flex: 1;			
	}

	.article-image {
		margin-inline: auto;
		padding-block-end: var(--size-5);
	}

	.header-band {	
		block-size: fit-content;		
		background-image: var(--gradient-7);		
		margin-bottom: var(--size-7);
	}

	header {
		padding-block: var(--size-4);		
		display: flex;
		flex-direction: row-reverse;
		gap: var(--size-fluid-2);	
		align-items: center;	
	}

	.quote {
		flex: 1;		
		display: flex;
		flex-flow: row wrap;
		margin: 0;
		text-shadow: 1px 1px 1px var(--surface-3);
	}

	.quote blockquote {
		border: 0;
		padding: 0;
		font-size: calc(1.25 * var(--font-size-fluid-1));
		line-height: var(--font-lineheight-2);
		font-weight: var(--font-weight-7);
		text-indent: -0.45em; /* hanging quote */
	}

	.quote blockquote, .quote blockquote::before, .quote blockquote::after {
		display: inline;
	}

	.quote blockquote::before {
		content: open-quote;		
	}

	.quote blockquote::after {
		content: close-quote;
	}

	.headshot-wrapper {				
		border-radius: var(--radius-3);
		background-color: var(--surface-4);		
		overflow: hidden;
		max-inline-size: fit-content;		
		box-shadow: var(--shadow-2);
	}

	.headshot {		
		aspect-ratio: var(--ratio-square);		
	}

	@media (max-width: 480px) {
		header {
			flex-direction: column;			
			text-align: center;
		}
	}
</style>
