---
import LinkedIn from './socials/LinkedIn.astro';
import Github from './socials/Github.astro';

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Ryan Sheehan. All rights reserved.
	<div class="social-links">
		<LinkedIn class="social-link"/>
		<Github class="social-link"/>
	</div>
</footer>
<style>
	footer {
		text-align: center;
		padding: var(--size-7) var(--size-3) var(--size-10) var(--size-3);
		background-color: var(--surface-2);
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: var(--size-2);
		margin-block-start: var(--size-3);
	}
	.social-links .social-link {
		text-decoration: none;
		color: var(--text-1);
	}
	.social-links .social-link:hover {		
		color: var(--text-2);	
	}
</style>
