---
import LinkedIn from './socials/LinkedIn.astro';
import Github from './socials/Github.astro';

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Your name here. All rights reserved.
	<div class="social-links">
		<LinkedIn class="social-link"/>
		<Github class="social-link"/>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links .social-link {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links .social-link:hover {
		color: rgb(var(--gray-dark));
	}
</style>
