---
import HeaderLink from './HeaderLink.astro';
import LinkedIn from './socials/LinkedIn.astro';
import Github  from './socials/Github.astro';
import { SITE_TITLE } from '../consts';

interface Props {
	class?: string;
}
---

<header class:list={['content-grid', Astro.props?.class]}>
	<nav class="breakout">
		<h1 class="site-title"><a href="/">{SITE_TITLE}</a></h1>
		<div class="internal-links">
			<HeaderLink href="/" class="home-link">Home</HeaderLink>			
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/resume">Resume</HeaderLink>
		</div>		
		<div class="social-links">
			<LinkedIn class="social-link"/>
			<Github class="social-link"/>
		</div>
	</nav>
</header>
<style>
	header {
		position: sticky;
		top: 0;				
		background-color: var(--surface-1);
		box-shadow: var(--shadow-1);
		padding: var(--size-3) var(--size-fluid-1);				
		z-index: var(--layer-important);
	}

	h1 {
		font-size: var(--font-size-fluid-2);
	}

	h1 a,
	h1 a.active {		
		text-decoration: none;
		color: inherit;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;		
	}

	.internal-links {		
		display: flex;
		flex-flow: row wrap;
		gap: var(--size-fluid-2);
	}

	nav a, .social-link {
		text-decoration: none;		
	}
	nav a.active, .social-link.active {
		text-decoration: none;
	}
	.social-links {
		display: flex;		
		gap: var(--size-2);
	}
	@media (max-width: 720px) {
		.social-links, .home-link {
			display: none;
		}
	}
</style>
