---
import type { HTMLAttributes } from 'astro/types'
import GithubIcon from '@components/icons/GithubIcon.astro';

type Props = HTMLAttributes<'a'>;

const {href, target, ...rest} = Astro.props;
---

<a href="https://github.com/ryansheehan" target="_blank" {...rest}>
    <span class="sr-only">Ryan's GitHub repo</span>
    <GithubIcon aria-hidden="true" width="32px" height="32px"/> 
</a>
