---
import type { HTMLAttributes } from 'astro/types'
import LinkedInIcon from '@components/icons/LinkedInIcon.astro';

type Props = HTMLAttributes<'a'>;

const {href, target, ...rest} = Astro.props;
---

<a href="https://www.linkedin.com/in/sheehanr/" target="_blank" {...rest}>
    <span class="sr-only">Follow Ryan on LinkedIn</span>
    <LinkedInIcon aria-hidden="true" width="32px" height="32px"/>
</a>
