---
    import BaseHead from '@components/BaseHead.astro';
    import Header from '@components/Header.astro';
    import Footer from '@components/Footer.astro';
    import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

    interface Props {
        title?: string;
        description?: string;
        class?: string;
        headerClass?: string;
        footerClass?: string;
    }

    const {title = SITE_TITLE, description = SITE_DESCRIPTION, headerClass, footerClass} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead {title} {description} />
        <slot name="after-base-head"/>
    </head>
    <body>
        <Header class={headerClass} />
        <main class:list={[Astro.props?.class]}>
            <slot/>
        </main>
        <Footer class={footerClass} />
    </body>
</html>

<style>
    body {
		display: flex;
		flex-flow: column nowrap;		
	}

	body main {
		flex: 1;
        margin-bottom: var(--size-7);
	}
</style>