---
    import BaseHead from '../components/BaseHead.astro';
    import Header from '../components/Header.astro';
    import Footer from '../components/Footer.astro';
    import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

    interface Props {
        title?: string;
        description?: string;
        class?: string;
    }

    const {title = SITE_TITLE, description = SITE_DESCRIPTION} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead {title} {description} />
        <slot name="after-base-head"/>
    </head>
    <body>
        <Header />
        <main class={Astro.props?.class}>
            <slot/>
        </main>
        <Footer/>
    </body>
</html>

<style>
    body {
		display: flex;
		flex-flow: column nowrap;		
	}

	body main {
		flex: 1;
	}
</style>